.carousel {
  max-width: 1500px;
  margin: 0 auto;
}

.carousel-inner {
  width: 100%;
  max-height: 600px !important;
}

.carousel-caption {
  bottom: 30% !important;
}

.carousel-indicators li {
  background-color: #ee550e !important;
  background-color: rgba(70, 70, 70, 0.25) !important;
}

.carousel-indicators .active {
  background-color: #ee550e !important;
}

@media (max-width: 844px) {
  .carousel-caption {
    font-size: 10px;
    bottom: 0% !important;
  }

  .carousel-caption h5 {
    font-size: 11px;
  }
}
