.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: #d3ddda;
}

.navbar a {
  color: #151514;
}

.navbar a:hover {
  color: #ee550e;
}

.banner {
  background-color: #151514;
  color: white;
}

.navbar {
  background-color: #d3ddda !important;
}

.navbar a {
  text-decoration: none;
}

.nav-item {
  padding-right: 3rem;
}

.footer a {
  text-decoration: none;
  color: #ee550e;
}

.footer a:hover {
  color: #d7f266;
}

.title {
  color: black;
}

.footer {
  background-color: #151514;
  padding: 20px;
  color: #d3ddda;
}

.footer-link {
  font-size: 10px;
}

@media (max-width: 844px) {
  .navbar-nav {
    text-align: end;
  }

  .nav-item a {
    margin-right: 0px !important;
  }

  .nav-item {
    padding-right: 0rem;
  }
}
